
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Tipo</th>
                    <th>CPf ou CNPJ</th>
                    <th>RG</th>
                    <th>Sexo</th>
                    <th>Endereço</th>
                    <th>Bairro</th>
                    <th>Numero</th>
                    <th>Complemento</th>
                    <th>Cidade</th>
                    <th>Estado</th>
                    <th>CEP</th>
                    <th>Telefone</th>
                    <th>Email</th>
                    <th>Permissão</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var pessoa in ViewBag.Pessoa)
                    {
                        <tr>
                            <td>@pessoa.IdPessoa</td>
                            <td>@pessoa.Nome</td>
                            <td>@pessoa.TipoPessoa</td>
                            <td>@pessoa.CpfOuCnpj</td>
                            <td>@pessoa.Rg</td>
                            <td>@pessoa.Sexo</td>
                            <td>@pessoa.Endereco</td>
                            <td>@pessoa.Bairro</td>
                            <td>@pessoa.NumeroResidencial</td>
                            <td>@pessoa.Complemento</td>
                            <td>@pessoa.Cidade</td>
                            <td>@pessoa.Estado</td>
                            <td>@pessoa.Cep</td>
                            <td>@pessoa.Telefone</td>
                            <td>@pessoa.Email</td>
                            <td>@pessoa.Permissao</td>
                        </tr>
                    }
            </tbody>
        </table>
