
        <form action="/Produto/Adiciona" method="post">
            @Html.ValidationMessage("produtos.codigoComNumero")
            @Html.ValidationMessage("produtos.valorNegativo")

            <label for="codigo">Código</label>
            <input id="codigo" name="produto.CodigoProduto" value="@ViewBag.Produtos.CodigoProduto"/>
            @Html.ValidationMessage("produtos.CodigoProduto");

            <label for="nome">Nome</label>
            <input id="nome" name="produto.NomeProduto" value="@ViewBag.Produtos.NomeProduto"/>
            @Html.ValidationMessage("produtos.Nome")

            <label for="valor">Valor</label>
            <input id="valor" name="produto.ValorProduto" value="@ViewBag.Produtos.ValorProduto"/>
            @Html.ValidationMessage("produtos.ValorProduto")

            <label for="descricao">Descrição</label>
            <input id="descricao" name="produto.DescricaoProduto" value="@ViewBag.Produtos.DescricaoProduto"/>
            @Html.ValidationMessage("produtos.DescricaoProduto")

            <label for="unidadeMedida">Unidade de Medida</label>
            <select id="unidadeMedida" name="produto.IdUnidadeMedida">
                    @foreach (var unidade in ViewBag.UnidadeMedidas)
                    {
                        <option value="@unidade.IdUnidadeMedida">@unidade.TipoUnidadeMedida</option>
                    }
            </select>

            <label for="medida">Medida</label>
            <input id="medida" name="produto.Medida" value="@ViewBag.Produtos.Medida"/>
            @Html.ValidationMessage("produtos.Medida")

            <label for="Categoria">Categoria</label>
            <select id="categoria" name="produto.IdCategoria">
                @foreach (var categoria in ViewBag.Categorias)
                {
                    <option value="@categoria.IdCategoria">@categoria.TipoCategoria</option>
                }
            </select>

            <label for="ativo">Ativo</label>
            <input id="ativo" name="produto.AtivoNaoAtivo" />

            <input type="submit" value="Cadastrar" />
        </form>
