
@*@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Visualiza</title>
</head>
<body>
    <div>
        Id : @ViewBag.Produto.IdProduto<br />
        Codigo : @ViewBag.Produto.CodigoProduto<br />
        Nome : @ViewBag.Produto.NomeProduto<br />
        Preco : @ViewBag.Produto.Valor<br />
        Descricao : @ViewBag.Produto.DescricaoProduto<br />
        Categoria : @ViewBag.Categoria.TipoCategoria<br />
        Unidade : @ViewBag.Produto.UnidadeMedida.TipoUnidadeMedida<br />
        Medida : @ViewBag.Produto.Medida<br />
        Codigo : @ViewBag.Produto.CodigoProduto<br />

        @Html.ActionLink("Voltar para a lista", "Index")
    </div>
</body>
</html>*@
